@mixin margin-reset(){
	margin: 0;
	padding: 0;
}

*{	
	font-family: 'oswald', sans-serif;
	@include margin-reset();
	font-size: 16px;
}

a{
	@include margin-reset();
}

.correctorVinculos{
	text-decoration: none;
}

$pinkDisfiuter: #FFBCD4;
$blueDisfiuter: #252A54;
$colores:(
	'primario': #FFBCD4,
	'secundario': #252A54,
	'terciario': #FFFFFF,);

// para titulos, descripciones e informacion
$blackText: rgba(0, 0, 0, 0.8);

// para leyendas de producto
$blackProduct: rgba(0, 0, 0, 0.6);

// textos blancos
$whiteText: #FFFFFF;

// otros
@mixin flex-column(){
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
@mixin flex-row(){
	display: flex;
	flex-direction: row;
}

// hovers
#footer a:hover{
	color: map-get($map:$colores, $key:'terciario');
}
#coleccion a:hover{
	color: $blackText;
}

.btnCarrito{
	height: 50pxs;
	background: linear-gradient(180deg, $blueDisfiuter 0%,#EB1763 100%);
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 200;
	font-size: 25px;
	line-height: 37px;

	text-align: center;
	letter-spacing: -0.05em;
	color: $whiteText;
	border-style: none;
	}





